<h1>All Drinks</h1>




<% @drinks.each do |drink|%>
<ul class="list-group list-group">
    <li class="list-group-item"><%= link_to drink.name, drink_path(drink.id)%> -- <%= drink.classification %></li>
</ul>
<% end %>

<%= link_to  'Logout', logout_path, method: 'delete'%>

