<h1>Add A Friend</h1>


<%= form_with url: relationships_path, method: 'post' do |f| %>

<% f.label :bartender %>
<% f.collection_select :bartender_id, User.all, :id, :name %>
<%= f.label :friend %>
<%= f.collection_select :friend_id, User.all, :id, :name %>
<%= f.submit %>
<% end %>